body {
    background-color:rgb(236, 249, 251);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(233, 252, 255);
    border: 2px dashed black;
    text-align: center;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 20px;
}

.mha {
    background-color: rgb(255, 251, 243);
}

.jjk {
    background-color:rgb(255, 245, 250);
}

